$color-primary:         white;
$color-secondary:       floralwhite;
$color-tertiary:        #2cdd88;
$color-fg:              #333;
$color-bg:              whitesmoke;
$color-dark:            #444;
$color-link:            deeppink;
$color-theme:           #ffc100;

$color-button-fg:       #fff;
$color-button-bg:       #ff4713;
$color-button2-fg:      #fff;
$color-button2-bg:      #222;

$box-shift-top-margin:  -103px;
